{% extends 'base.html' %}

{% block content %}


   <br/>
            <div
              class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
            >

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-span-2">
                    <label for=""> Profile Image</label>
                    <img width="100" height="100" src="{{user_profile.profileimg.url}}" />
                    <input type="file" name="image" value="" class="shadow-none bg-gray-100">
                </div>

               
            
              <label class="block mt-4 text-sm"> Bio: 
                <span class="text-gray-700 dark:text-gray-400"></span>
              

                <textarea id="about" name="bio" rows="3"     class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                >{{user_profile.bio}}</textarea>
              </label>
              <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">location:</span>
                <input
                type="text" name="location" value="{{user_profile.location}}"
                 class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  
                />
              </label>

              
              <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                <button class="p-2 px-4 rounded bg-gray-50 text-red-500 border-b shadow-md"> <a href="/">Cancel</a> </button>
                <button type="submit" class="p-2 px-4 rounded bg-gray-50 border-b shadow-md"> Save </button>
            </div>

              </form>
            </div>

 


{% endblock %}